<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
    <style>
        .container{
            margin: 0 auto;
            text-align: center;

        }
        .card{
            text-align: left;
            margin: 7%;
        }
        .text{
            margin: 3%;
        }
    </style>
</head>

<body>
<div class="container">
    <h1 class="text">
        Hello world!
    </h1>
    <div>
        <h3 class="text">hello world</h3>
        <button type="button" class="btn btn-outline-success" th:onclick="|location.href='@{/sign-up}'|">Sign Up</button>
        <button type="button" class="btn btn-outline-success" th:onclick="|location.href='@{/sign-in}'|">Sign In</button>
    </div>

    <div class="row">
        <tr th:each="post : ${posts}">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}">title</h5>
                        <p class="card-text" th:text="${post.content}">content</p>
                        <a th:href="@{/post/{postId}(postId=${post.url})}" class="btn btn-outline-warning" th:text="${post.url}">url</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>
</body>
</html>

