<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-white" th:fragment="navigator (id)" style="margin-bottom: 5%">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/travel/place(id=${id})}">Place</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/travel/photo(id=${id})}">Photo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/travel/cost(id=${id})}">Cost</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>