<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
    <style>
        .container{
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>여행지 등록하기</h2>
    </div>

    <form action="main.html" th:action="@{/post}" th:object="${travel}" method="post" style="text-align: left" enctype="multipart/form-data">
        <div style="margin: 2%">
            <label style="margin-bottom: 1%">여행지</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="여행지 입력하세요">
        </div>
        <div style="margin: 2%">
            <label style="margin-bottom: 1%">여행 설명</label>
            <input type="text" th:field="*{description}" class="form-control" placeholder="간단한 설명을 입력해주세요">
        </div>
        <div style="margin: 2%">
            <label style="margin-bottom: 1%">사진 등록</label>
            <input type="file" th:id="file" th:name="file" class="form-control" placeholder="사진을 등록해주세요">
        </div>
        <div style="padding: 50px"></div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="w-50 btn btn-outline-success" type="submit">여행지 등록</button>
            <button class="w-50 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/}'|"
                    style="margin: auto"
                    type="button">취소</button>
        </div>
    </form>
</div>
</body>
</html>

