<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
    <style>
        .container{
            margin: 0 auto;
            text-align: center;
            width: 50%;
        }
        .text{
            margin: 5%;
        }
    </style>
</head>

<body>
<div class="container">
    <h1 class="text">
        Hello world!
    </h1>
    <form th:action="@{/sign-up}" th:object="${signUpDto}" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" th:field="*{email}" class="form-control" />
            <label class="form-label">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" th:field="*{password}" class="form-control" />
            <label class="form-label">Password</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" th:field="*{confirmedPassword}" class="form-control" />
            <label class="form-label">Confirmed Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-primary btn-block mb-4">Sign Up</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already a member? <a href="#!">Sign In</a></p>
            <p>or sign in with:</p>
        </div>
    </form>

</div>
</body>
</html>

